@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

{
    font-family: "Work Sans", serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  header{
    background: rgba(255, 144, 14, 0.10);
    padding: 50px 240px;
  }
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .nav-title{
    font-size: 2.8rem;
    font-weight: 700px;
    color: #131313;

  }
  nav > ul {
    display: flex;
  }
  nav li{
    list-style: none;
    margin-right: 30px;
    font-size: 1rem;
     font-weight: 700;

  }
/*banner style*/
.banner-content{
  max-width: 800px;
  text-align: center;

}
.banner-title{
  color: var(--Dark-01, #131313);
text-align: center;
font-family: "Work Sans";
font-size: 64px;
font-style: normal;
font-weight: 700;
line-height: normal;
}
.banner-description{
  color: var(--Dark-03, #727272);
text-align: center;
font-family: "Work Sans";
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
}
.btn-primary{
  color: #fff;
  font-size: 1.25rem;
  background: #ff900f;
  padding: 20px 25px;
  color: #fff;
  cursor: pointer;
}
.banner img{
  width: 100%;
  margin: 20px;
}
@media screen and (max-width: 576px) {
  padding: 20px;
  nav{
    flex-direction: column;
  }
  
}
/*for tablate*/
@media screen and (min-width:576)and (max-width:960px) {
nav{
  flex-direction: column;
}
  
}
@media screen and (main-width:576px)and(max-width: 960px)  {
  header{
    padding:50px ;
  }
  nax{
    flex-direction: column;
  }
  
}


  